@import "config/colors";
@import "config/font-size";
@import "config/reset";
@import "font-awesome";
@import "mixins/vendor_prefix";
@import "modules/side_bar";
@import "modules/chat";
@import "messages/messages.scss";
@import "modules/user";
@import "modules/flash";
@import "modules/group.scss";


.flash-box {
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
  background-color: #38AEF0;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}